<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{{ BASE }}assets/css/main.css" />
    <title>Admin panel</title>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{BASE}}admin-dashboard">Admin Panel</a>

          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="{{BASE}}admin-dashboard"
                  >Moderatori</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  href="{{BASE}}admin-dashboard/users"
                  >Korisnici</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{BASE}}admin-dashboard/categories"
                  >Kategorije</a
                >
              </li>
            </ul>
          </div>
          <div class="navbar-nav d-flex">
            <a class="nav-link" type="button" href="{{BASE}}">Aplikacija</a>
            <a class="nav-link" type="button" href="{{ BASE }}user/log-out"
              >Odjava</a
            >
          </div>
        </div>
      </nav>
      <table class="table table-striped mt-5">
        <thead>
          <tr>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Username</th>
            <th>Broj telefona</th>
            <th>Email</th>
            <th>Akcija</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <td style="margin-bottom: 0px">{{user.forename}}</td>
            <td>{{user.surname}}</td>
            <td>{{user.username}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.email}}</td>
            <td>
              <a
                class="btn btn-primary"
                href="{{BASE}}/admin-dashboard/user/{{user.user_id}}"
                >Aukcije</a
              >
              <a
                class="btn btn-danger"
                href="{{BASE}}admin-dashboard/user/delete/{{user.user_id}}"
                >Perma ban</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"
  ></script>
</html>
