{% extends "_global/index.html" %}{% block search %}
<div class="search-box">
  <form action="{{ BASE }}" method="post">
    <input type="text" name="search" />
    <button type="submit">Search</button>
  </form>
</div>
{% endblock %} {% block main %}
<div class="column">
  <h1 class="category-title">Pretraga: {{search}}</h1>
  <ul>
    {% for auction in auctions %}
    <li>
      <div class="auction-wrapper">
        <div class="auction">
          <div class="auction-img">
            <img
              src="{{BASE}}assets/img/uploads/{{ auction.img_path}}"
              alt=""
            />
          </div>
          <div class="auction-details-wrapper">
            <div class="auction-title">
              <a href="{{ BASE }}auction/{{ auction.auction_id }}"
                >{{ auction.title|e }}
                <span class="auction-username"> - {{auction.username}}</span></a
              >
            </div>
            <div class="auction-details">
              <div class="auction-start">
                <p>Aukcija pocela:</p>
                <p class="date">{{ auction.creation_date|date("j. n. Y.") }}</p>
              </div>
              <div class="auction-expire">
                <p>Datum isteka:</p>
                <p class="date">
                  {{ auction.expire_date is null ? "-" :
                  auction.expire_date|date("j. n. Y.")}}
                </p>
              </div>
              <div class="auction-price">
                <p>Pocetna Cena:</p>
                <p class="price">{{ auction.starting_price|e }}RSD</p>
              </div>
            </div>
          </div>
        </div>
        <div class="auction-controlls">
          <a href="{{BASE}}auction/{{auction.auction_id}}"
            ><button class="auction-edit-btn">Licitiraj</button></a
          >
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %} {% block title %} Rezultati pretrage {% endblock %}
